.title {
  font-weight: bold;
}

.certificate {
  font-weight: normal;
}

.certlist {
  padding: 0 0 1rem 0;
  list-style-type: none;
}

.certlist li {
  line-height: 1.2;
  padding: 0.3rem 0 0.3rem 1rem;
}

@media (min-width: 750px) {
  .certlist li {
    padding: 0 0 0 1rem;
  }
}
