footer {
  margin: 0 auto;
  padding: 0;
}

.wrapper {
  font-size: var(--base-font-size);
  font-family: "Segoe UI", "San Fransisco (SF)", "Roboto", monospace;
  background-color: var(--platinum);
  color: var(--onyx);
  max-width: 1000px;
  margin: -1rem auto;
  padding: 1rem 5rem 1rem 5rem;
}
